html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #f4f4f4;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  --fonts: 'Segoe UI', Tahoma, Verdana, sans-serif;
  --primary: #cc5b5b;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 8px 0;
  font-weight: bold;
  font-size: 1.1em;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 1em;
}

h3 {
  margin: 0;
  font-size: 0.9em;
  text-transform: capitalize;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  position: relative;
  border: 0;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
}

button:hover::after {
  background-color: rgba(0,0,0,0.1);
  content: "";
  border-radius: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.pop-up-container {
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
}

.pop-up {
  width: 80%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
}

.pop-up input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px 16px;
  border-radius: 8px;
  margin: 8px 0;
  text-align: center;
}

.pop-up button {
  width: 100%;
  margin: 8px 0 !important;
}